body, html {
  height: 100vh;
}

html, body {margin: 0; height: 100%; overflow: hidden}

* {
  box-sizing: border-box;
}

.bg-image {
  background-image: url("./assets/img/background.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  min-height: 100px;
  height: 180px;
}

.drop-content {
  background-color: rgba(255, 255, 255, 0.075);
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f188;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin-top: 50px;
}

.bg-content {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 500px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.userPanel {
  position: absolute;
  top:0%;
  left: 0%;
  z-index: 2;
  height: 50px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: rgba(255, 255, 255, 0.09);
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.logout-button {
  width: 100px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.05);
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  color: #fff;
}

h1 {
  font-weight: 400;
}

h2 {
  color: white;
  margin-bottom: 5%;
  font-weight: 400;
}

h3 {
  color: white;
  font-weight: 100;
}

p {
  font-weight: 200;
}

.left-margin {
  margin-left: 40px;
}

* {
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

.error-label {
  color:  rgb(216, 23, 152);
}
.App {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}