.main-container {
  background-color: rgba(255, 255, 255, 0.075);
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f188;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  padding: 50px;
}

.default-padding {
  margin-top: 30px
}
