.bg-content {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login_form {
  background-color: rgba(255, 255, 255, 0.075);
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f188;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  padding: 50px;
  padding-top: 0px;
  margin-top: 30px;
}

.login_label {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
  width: 100%;
}

.input {
  background-color: rgba(255, 255, 255, 0.05);
  color: white;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.3);
  height: 30px;
  width: 200px;
  margin-left: 10px;
}

.input-container {
  display: flex;
  flex-direction: row;
  width: 300px;
  align-items: center;
  justify-content: space-between;
}

.input-container-2 {
  display: flex;
  flex-direction: row;
  width: 400px;
  align-items: center;
  justify-content: space-between;
}

.login-button {
  height: 35px;
  width: 130px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  background-color: rgba(255, 255, 255, 0.15);
  color: white;
  font-size: large;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.3);
}

.login-button:hover {
  background-color: rgba(255, 255, 255, 0.404);
}

.register {
  font-size: small;
}

.register-active {
  font-size: small;
  color: rgb(216, 23, 152);
}

p {
  font-size: 20px;
}

.invalid {
  border-color: rgb(216, 23, 152);
}
